* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

ul {
	width: 100%;
	display: flex;
	justify-content: center;
}

img.logo {
	padding: 0 0 0 100px;
	font-weight: bold;
}

nav ul li {
	line-height: 80px;
}

nav ul li a {
	color: black;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 10px;
}

a.active,
a:hover {
	background: #447043;
	transition: 0.5s;
	color: white;
}

.checkbtn {
	font-size: 30px;
	color: #447043;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

.explorer-container {
	display: flex;
}

.connect-container {
	display: flex;
}

footer {
	position: absolute;
	background-color: white;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: black;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover,
	a.active {
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
